{% extends 'data_management/object_detail.html' %}

{% block fields %}
<dt class="col-sm-3">Storage Root</dt>
<dd class="col-sm-9">{{ object.store_root }}</dd>

<dt class="col-sm-3">Description</dt>
<dd class="col-sm-9">{{ object.description }}</dd>

<dt class="col-sm-3">Path</dt>
<dd class="col-sm-9">{{ object.path }}</a></dd>

<dt class="col-sm-3">Hash</dt>
<dd class="col-sm-9">{{ object.hash }}</a></dd>

<dt class="col-sm-3">Local Cache URL</dt>
<dd class="col-sm-9">{{ object.local_cache_url }}</a></dd>
</ul>
{% endblock %}
