<div class="card">
  <div class="card-body">
    <h2>Data Products</h2>
    <table
    id="dataproducts"
    aria-label="List of data products"
    data-toggle="table"
    data-ajax="dataProductsData"
    data-pagination="true"
    data-side-pagination="server"
    data-sort-name="name"
    data-sort-order="asc"
    data-search="true">
  <thead>
  <tr>
    <th scope="col" data-sortable="true" data-field="namespace">Namespace</th>
    <th scope="col" data-sortable="true" data-field="name">Name</th>
    <th scope="col" data-sortable="true" data-field="version">Version</th>
  </tr>
  </thead>
</table>
  </div>
</div>
