<div class="card">
  <div class="card-body">
    <h2>External Objects</h2>
<table
    id="externalobjects"
    aria-label="List of external objects"
    data-toggle="table"
    data-ajax="externalObjectsData"
    data-pagination="true"
    data-side-pagination="server"
    data-sort-name="identifier"
    data-sort-order="asc"
    data-search="true">
  <thead>
  <tr>
    <th data-sortable="true" data-field="identifier">Identifier</th>
    <th data-sortable="true" data-field="alternate_identifier">Alternate Identifier</th>
    <th data-sortable="true" data-field="release_date">Release Date</th>
    <th data-sortable="true" data-field="title">Title</th>
    <th data-sortable="true" data-field="version">Version</th>
  </tr>
  </thead>
</table>
  </div>
</div>
