{% extends 'base.html' %}

{% block content %}
{{ block.super }}
{% include "data_management/dataproduct_table.html" %}
{% include "data_management/externalobject_table.html" %}

<div class="card">
  <div class="card-body">
    <h2>Code Repo Release</h2>
<table
    data-toggle="table"
    data-ajax="codeRepoReleasesData"
    data-pagination="true"
    data-side-pagination="server"
    data-sort-name="name"
    data-sort-order="asc"
    data-search="true">
  <thead>
  <tr>
    <th data-sortable="true" data-field="name">Name</th>
    <th data-sortable="true" data-field="version">Version</th>
    <th data-sortable="true" data-field="website">Website</th>
  </tr>
  </thead>
</table>
  </div>
</div>
{% endblock %}
