{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb 'Issues' 'issues' %}
{% breadcrumb object.name 'issue' object.pk %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="card">
  <div class="card-body">
    <h2>Issue Details</h2>
    <dl class="row">
      <dt class="col-sm-3">Updated By</dt>
      <dd class="col-sm-9">{{ object.updated_by }}</dd>

      <dt class="col-sm-3">Last Updated On</dt>
      <dd class="col-sm-9">{{ object.last_updated }}</dd>

      <dt class="col-sm-3">Severity</dt>
      <dd class="col-sm-9">{{ object.severity }}</dd>

      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ object.description }}</dd>

    </dl>
    <h2>Associated Objects</h2>
    <ul>
    {% for obj in object.object_issues.all %}
      <li><a href={% url 'object' obj.id %}>{{ obj.name }}</a></li>
    {% endfor %}
    </ul>
    <h2>Associated Object Components</h2>
    <ul>
    {% for obj in object.component_issues.all %}
      <li><a href={% url 'objectcomponent' obj.id %}>{{ obj.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
