{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb 'Issues' 'issues' %}
{% breadcrumb object.name 'issue' object.pk %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="card">
  <div class="card-body">
    <h2>{{ object.name }}</h2>
    <dl class="row">
      <dt class="col-sm-3">Updated By</dt>
      <dd class="col-sm-9">{{ object.updated_by }}</dd>

      <dt class="col-sm-3">Last Updated On</dt>
      <dd class="col-sm-9">{{ object.last_updated }}</dd>

      <dt class="col-sm-3">Attached Object</dt>
      <dd class="col-sm-9"><a href="{% url object.content_type.model object.object_id %}">{{ object.data_object }}</a>
      </dd>

      <dt class="col-sm-3">Severity</dt>
      <dd class="col-sm-9">{{ object.severity }}</dd>

      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ object.desc }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
