{% extends 'data_management/object_detail.html' %}

{% block fields %}
<dt class="col-sm-3">Model</dt>
<dd class="col-sm-9"><a href="{% url 'model' object.model.pk %}">{{ object.model }}</a></dd>

{% if object.supersedes %}
<dt class="col-sm-3">Supersedes</dt>
<dd class="col-sm-9"><a href="{% url 'modelversion' object.supersedes.pk %}">{{ object.supersedes }}</a></dd>
{% endif %}

{% if object.superseded_by.all %}
<dt class="col-sm-3">Superseded By</dt>
<dd class="col-sm-9">
  <ul class="list-group list-group-flush list-unstyled">
    {% for version in object.superseded_by.all %}
    <li><a href="{% url 'modelversion' version.pk %}">{{ version }}</a></li>
    {% endfor %}
  </ul>
</dd>
{% endif %}

<dt class="col-sm-3">Short Description</dt>
<dd class="col-sm-9">{{ object.short_desc }}</dd>

<dt class="col-sm-3">URL</dt>
<dd class="col-sm-9"><a href="{{ object.url }}">{{ object.url }}</a></dd>

<dt class="col-sm-3">Model Runs</dt>
<dd class="col-sm-9">
  <ul class="list-group list-group-flush list-unstyled">
    {% for run in object.runs.all %}
    <li><a href="{% url 'modelrun' run.pk %}">{{ run }}</a></li>
    {% endfor %}
  </ul>
</dd>
{% endblock %}
