{% extends 'data_management/object_detail.html' %}

{% block fields %}
<dt class="col-sm-3">Model Version</dt>
<dd class="col-sm-9"><a href="{% url 'modelversion' object.model_version.pk %}">{{ object.model_version }}</a></dd>

{% if object.supersedes %}
<dt class="col-sm-3">Supersedes</dt>
<dd class="col-sm-9"><a href="{% url 'modelrun' object.supersedes.pk %}">{{ object.supersedes }}</a></dd>
{% endif %}

<dt class="col-sm-3">Run Date</dt>
<dd class="col-sm-9">{{ object.run_date | date }}</dd>

<dt class="col-sm-3">Short Description</dt>
<dd class="col-sm-9">{{ object.short_desc }}</dd>

<dt class="col-sm-3">URL</dt>
<dd class="col-sm-9"><a href="{{ object.url }}">{{ object.url }}</a></dd>

<dt class="col-sm-3">Model Input Versions</dt>
<dd class="col-sm-9">
  <ul class="list-group list-group-flush list-unstyled">
    {% for model_input_version in object.model_input_versions.all %}
    <li><a href="{% url 'modelinputversion' model_input_version.pk %}">{{ model_input_version }}</a></li>
    {% endfor %}
  </ul>
</dd>

<dt class="col-sm-3">Model Outputs</dt>
<dd class="col-sm-9">
  <ul class="list-group list-group-flush list-unstyled">
    {% for model_output in object.model_outputs.all %}
    <li><a href="{% url 'modeloutput' model_output.pk %}">{{ model_output }}</a></li>
    {% endfor %}
  </ul>
</dd>
{% endblock %}
