{% extends 'data_management/object_detail.html' %}

{% block fields %}
<dt class="col-sm-3">Storage Location</dt>
<dd class="col-sm-9"><a href="{% url 'datastore' object.store.pk %}">{{ object.store }}</a></dd>

<dt class="col-sm-3">Description</dt>
<dd class="col-sm-9">{{ object.description }}</dd>

<dt class="col-sm-3">Model Versions</dt>
<dd class="col-sm-9">
  <ul class="list-group list-group-flush list-unstyled">
    {% for version in object.versions.all %}
    <li><a href="{% url 'modelversion' version.pk %}">{{ version }}</a></li>
    {% endfor %}
  </ul>
</dd>
{% endblock %}
