{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb display_name|title model_name %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="card">
  <div class="card-body">
    <h2>{{ display_name | title }}</h2>
    {% if objects %}
      <table
        data-toggle="table"
        data-pagination="true"
        data-search="true"
        data-sortable="true"
        data-sort-name="issue-count"
        data-sort-order="desc">
      <thead>
      <tr>
        <th data-sortable="true" data-field="name">Name</th>
        <th data-sortable="true" data-field="issue-count">Issue Count</th>
      </tr>
      </thead>
      <tbody>
          {% for obj in object_list %}
            <tr>
              <td><a href="{% url obj.reverse_name obj.id %}">{{ obj }}</a></td>
              <td>{{ obj.issues.count }}</td>
            </tr>
          {% endfor %}
      </tbody>
      </table>
    {% else %}
    <p>No {{ display_name }}.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
