{% extends 'base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb list_display_name|title list_name %}
{% breadcrumb object.name model_name object.pk %}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="card">
  <div class="card-body">
    <h3>{{ object.name }}</h3>
    <dl class="row">
      <dt class="col-sm-3">Updated By</dt>
      <dd class="col-sm-9">{{ object.updated_by }}</dd>

      <dt class="col-sm-3">Last Updated On</dt>
      <dd class="col-sm-9">{{ object.last_updated }}</dd>

      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ object.description }}</dd>
    </dl>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>Issues:</h2>
    {% if object.issues.count %}
    <ul class="list-group list-group-flush">
      {% for issue in object.issues.all %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'issue' issue.pk %}">{{ issue.description }}</a>
        <span class="badge badge-warning">Severity: {{ issue.severity }}</span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No attached issues.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
