{% extends 'data_management/object_detail.html' %}

{% block fields %}
<dt class="col-sm-3">Processing Script</dt>
<dd class="col-sm-9"><a href="{% url 'processingscript' object.processing_script.pk %}">{{ object.processing_script
  }}</a></dd>

<dt class="col-sm-3">Storage Location</dt>
<dd class="col-sm-9"><a href="{% url 'storagelocation' object.store.pk %}">{{ object.store }}</a></dd>

<dt class="col-sm-3">Accessibility</dt>
<dd class="col-sm-9">{{ object.accessibility }}</dd>

<dt class="col-sm-3">Generated Data Product Versions</dt>
<dd class="col-sm-9">
  <ul class="list-group list-group-flush list-unstyled">
    {% for data_product_version in object.data_product_versions.all %}
    <li><a href="{% url 'dataproductversion' data_product_version.pk %}">{{ data_product_version }}</a></li>
    {% endfor %}
  </ul>
</dd>
{% endblock %}
