{% extends "rest_framework/base.html" %}

{% load socialaccount %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
{% endblock %}

{% block title %}
{% if name %}{{ name }}{% else %}REST API{% endif %}
{% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow" href='/api'>
FAIR data registration and management system REST API
</a>
{% endblock %}

{% block userlinks %}
{% if remote_registry %}
  <span class="navbar-text">
    {% if user.is_authenticated %}
    Logged in as: {{ user.username }}
    <a href="/logout">logout</a>
    {% else %}
    <a href="{% provider_login_url 'github' %}">Log in or sign up using GitHub</a>
    {% endif %}
  </span>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% if user.is_authenticated %}
<div style="margin-top:1em">
  Click <a href="{% url 'get_token' %}">here</a> to create a new token for accessing the REST API or
  click <a href="{% url 'revoke_token' %}">here</a> to revoke an existing token.
</div>
{% endif %}
{% endblock %}
