{% load socialaccount %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{% clear_breadcrumbs %}
{% breadcrumb "Home" "/" %}
{% endblock %}

{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
  <title>FAIR DRAMS</title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FAIR data registration and management system</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
          <div class="dropdown-menu" aria-labbelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'docs_index' %}">Documentation</a>
            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.get_host }}/api/">REST API</a>
            <a class="dropdown-item" href="{{ request.scheme }}://{{ request.get_host }}/static/images/schema.svg">Database Schema</a>
            {% if user.is_authenticated %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" data-toggle="modal" data-target="#create-token" href="{% url 'get_token' %}">Generate API Token</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#revoke-token" href="{% url 'revoke_token' %}">Revoke API Token</a>
            {% endif %}
            {% if user.is_staff %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin">Admin</a>
            {% endif %}
          </div>
        </li>
      </ul>
      {% if remote_registry %}
      <span class="navbar-text">
            {% if user.is_authenticated %}
            Logged in as: {{ user.username }}
            <a href="logout">logout</a>
            {% else %}
            <a href="{% provider_login_url 'github' %}">Log in or sign up using GitHub</a>
            {% endif %}
      </span>
      {% endif %}
    </div>
  </nav>
  <div class="row justify-content-center">
    <div class="col-12">
      {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
<div class="modal fade" id="create-token" tabindex="-1" role="dialog" aria-labelledby="createTokenLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTokenLabel">API token</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Your token is:
      <div class="replace">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="revoke-token" tabindex="-1" role="dialog" aria-labelledby="revokeTokenLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="revokeTokenLabel">API token</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Your token has been revoked.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
<script>
  function dataProductsData(params, options) {
    var url = 'tables/dataproducts'
    $.get(url + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }

  function externalObjectsData(params, options) {
    var url = 'tables/externalobjects'
    $.get(url + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }

  function codeRepoReleasesData(params, options) {
    var url = 'tables/codereporeleases'
    $.get(url + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
  }

  $('#create-token').on('show.bs.modal', function (event) {
    $(this).find('.replace').load(event.relatedTarget.href);
  });

  $('#revoke-token').on('show.bs.modal', function (event) {
    $(this).find('.modal-body').load(event.relatedTarget.href);
  });
</script>
</body>
</html>
